
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audi bot</title>
</head>
<body style="display: flex; flex-direction: row; align-items:center ; justify-content: center; ">
    <div style="display: flex; align-items: center; justify-content: center;">
    <form method="post" style="border: 2px solid balck; background-color: beige;">
    <div style="display: flex; flex-direction: row; align-items: center; margin: 30px; border: 2px solid black; padding: 20px;">
    <input type="button" id="start" value="Start listening">
    <input type="button" style="margin-left: 10px;" id="stop" value="StopRecording">
    <input type="submit" value="Submit" >
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin: 30px; border: 2px solid black; padding: 20px;">
    <input name="transcript" id="transcript" type="text">
    {% for a,b in result.items() %}
        <p >{{b}}</p>
    {% endfor %}
    <audio controls>
        <source src="{{ url_for('static', filename='output.wav') }}?{{ time }}" type="audio/wav">
        Your browser does not support the audio element.
    </div>
    </form>
    </div>
    <script>
        const startButton = document.getElementById('start');
        const stopButton = document.getElementById('stop');
        const transcriptParagraph = document.getElementById('transcript');

        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();

        recognition.onresult = function(event) {
            const transcript = Array.from(event.results)
                .map(result => result[0])
                .map(result => result.transcript)
                .join('');

                document.getElementById('transcript').value=transcript;
        };

        startButton.addEventListener('click', () => {
            recognition.start();
        });

        stopButton.addEventListener('click', () => {
            recognition.stop();
        });
    </script>
</body>
</html>